
<% options = '{\"yZoomedDataMin\":0,\"yAxisOption\":\"5\",\"xAxisOption\":\"_TIME\",\"orderedByX\":false,\"sizeOption\":\"_UNISIZE\",\"showTrails\":false,\"yLambda\":1,\"yZoomedDataMax\":15,\"nonSelectedAlpha\":0.4,\"iconKeySettings\":[],\"orderedByY\":false,\"dimensions\":{\"iconDimensions\":[\"dim0\"]},\"iconType\":\"LINE\",\"playDuration\":15000,\"xZoomedDataMin\":1383264000000,\"xZoomedIn\":false,\"time\":\"2014-01-24\",\"yZoomedIn\":false,\"duration\":{\"multiplier\":1,\"timeUnit\":\"D\"},\"colorOption\":\"_UNIQUE_COLOR\",\"xLambda\":1,\"xZoomedDataMax\":1390521600000,\"uniColorForNonSelected\":false}'
%>

<div id="middle-element">
<div id="exp" class="graph_chart"><!-- /--></div></div>
</div>

<div id="dates">
<%= simple_form_for :app,remote: true, :url=> country_path() do |f| %>
  <%= f.input :start_date, :as => :date_picker %>
  <%= f.input :end_date, :as => :date_picker %>
  <%= f.button :submit %>
<% end %>
</div>

<script type="text/javascript">
$.ajax({
    type: 'POST',
    url: '<%=country_path(:country => "Default")%>'    
});

</script>
