<!DOCTYPE html>
<html>
<head>
  <title>marktr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
        google.load('visualization', '1', {'packages':['motionchart']});
        google.setOnLoadCallback(buildChart);
        
        var chartData = {};
        var visualizationCharts = {};

        var options_single = { width: 780,height: 600,state: '{\"duration\":{\"multiplier\":1,\"timeUnit\":\"D\"},\"yLambda\":1,\"yZoomedIn\":false,\"playDuration\":15000,\"dimensions\":{\"iconDimensions\":[\"dim0\"]},\"xZoomedIn\":false,\"iconKeySettings\":[],\"orderedByY\":false,\"colorOption\":\"_UNIQUE_COLOR\",\"uniColorForNonSelected\":false,\"yAxisOption\":\"3\",\"showTrails\":true,\"xZoomedDataMin\":2.5,\"xAxisOption\":\"2\",\"xLambda\":1,\"iconType\":\"BUBBLE\",\"yZoomedDataMax\":198.9673340023432,\"yZoomedDataMin\":4.47213595499958,\"orderedByX\":false,\"nonSelectedAlpha\":0.4,\"xZoomedDataMax\":4.5,\"sizeOption\":\"3\"}'};

        var options_all = {width: 780,height: 600,state: '{\"duration\":{"multiplier\":1,\"timeUnit\":\"D\"},\"yLambda\":1,\"nonSelectedAlpha\":0.4,\"playDuration\":15000,\"dimensions\":{\"iconDimensions\":[\"dim0\"]},\"uniColorForNonSelected\":false,\"orderedByX\":false,\"iconKeySettings\":[],\"yZoomedIn\":false,\"colorOption\":\"_UNIQUE_COLOR\",\"xAxisOption\":\"2\",\"yZoomedDataMax\":5,\"xZoomedDataMin\":1,\"orderedByY\":false,\"xLambda\":1,\"iconType\":\"BUBBLE\",\"showTrails\":true,\"yZoomedDataMin\":1,\"yAxisOption\":\"3\",\"xZoomedIn\":false,\"xZoomedDataMax\":5,\"sizeOption\":\"4\"}'};

        var options = options_all;

        function buildChartAll() {
          chartData['exp'] = new google.visualization.DataTable();
          chartData['exp'].addColumn('string', 'App');
          chartData['exp'].addColumn('date', 'Date');
          chartData['exp'].addColumn('number', 'iOS');
          chartData['exp'].addColumn('number', 'Android');
          chartData['exp'].addColumn('number', 'Base');
          visualizationCharts['exp'] = new google.visualization.MotionChart(document.getElementById('exp'));
          options = options_all;
        }

        function buildChart() {
          chartData['exp'] = new google.visualization.DataTable();
          chartData['exp'].addColumn('string', 'App');
          chartData['exp'].addColumn('date', 'Date');
          chartData['exp'].addColumn('number', 'Rating');
          chartData['exp'].addColumn('number', 'Votes');
          visualizationCharts['exp'] = new google.visualization.MotionChart(document.getElementById('exp'));
          options = options_single;
        }
        
        
        function drawCharts() {         

          visualizationCharts['exp'].draw(chartData['exp'], options);
    } </script><!-- Rendered Google Visualizations /-->
  
</head>
<body>

<div id="wrap">
<%= tabs_tag do |tab| %>
  <%= tab.all      'All', root_path, :class => 'tabarea' %>
  <%= tab.android 'Android', "/android", :class => 'tabarea'  %>
  <%= tab.itunes   'iTunes', "/itunes", :class => 'tabarea'  %>
  <%= tab.win8   'win8', "/win8", :class => 'tabarea'  %>
  <div>
   
<%#= button_to "All", country_path(:country => "Default"),  remote: true, :id=>'tabarea' %>
<%#= button_to "DE", country_path(:country => "DE"),  remote: true, :id=>'tabarea' %>
<%#= button_to "US", country_path(:country => "US"),  remote: true, :id=>'tabarea' %>

<%#=this.form.submit()
%>
<%= form_for(:country, remote: true, :url=> country_path() ) do |f|%>
    <%#= f.select :country, [ ['All', 0], ['DE', 1], ['US', 2] ], {}, :onchange => 'this.form.submit()' %>
    <div id='menuarea'>
      <%= 
      e = [["Default",0]]
      e += Country.all.collect {|p| [ p.name, p.id ] }
      select("post", "country", e, { } ) 

      %>
      <%= submit_tag "update", :name => nil %>
    </div>
<% end %>
</div>
<% end %>	


<p>
</p>

<%= yield %>

</div>

</body>
</html>
